{extend name="./layout/base" /}

{block name="body"}

{include file="./common/nav"}

<div class="container mt-20 bg-fff pt-15-pb-15">
    <div class="row">
        <div class="col-lg-12">
            <a href="{:aurl('wechatmenu')}" class="btn btn-primary">返回微信菜单列表</a>
        </div>

        <div id="app" class="col-lg-12" style="margin-top: 10px;">
            <div class="row">
                <div class="col-md-4">
                    添加菜单
                </div>
            </div>
        </div>

    </div>
</div>

{include file="./common/footer"}

{/block}

{block name="footer"}
<script>
    require(['//cdn.bootcss.com/vue/1.0.28/vue.min.js'], function (Vue) {
        var vm = new Vue({
            el: '#app',
            data: {
                menu: [
                    {
                        'name': '菜单一',
                        'type': 'click',
                        'key': 'haha'
                    },
                    {
                        'name': '你好',
                        'sub_button': [
                            {
                                'name': '菜单二',
                                'type': 'view',
                                'key': 'http://www.baidu.com/'
                            },
                            {
                                'name': '菜单三',
                                'type': 'click',
                                'key': 'haha'
                            }
                        ]
                    }
                ]
            },
            methods: {
                isHasSub: function (item) {
                    return typeof (item.sub_button) == 'undefined';
                },
                deleteItem: function (index) {
                    if (confirm('确定删除？')) {
                        this.menu.splice(index, 1);
                    }
                }
            }
        });
    });
</script>
{/block}