{extend name="./layout/base" /}

{block name="body"}

{include file="./common/nav"}

<div class="container mt-20 bg-fff pt-15-pb-15">
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 10px;">
            <button type="button" class="btn btn-primary sync-menu">将当前菜单同步到公众号</button>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>排序</th>
                            <th>菜单名</th>
                            <th>类型</th>
                            <th>值</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="menus" id="item"}
                        <tr>
                            <td>{$item->menu_sort}</td>
                            {if condition="$item->children()->count() eq 0"}
                            <td>{$item->menu_name}</td>
                            <td>{$item->menu_type == 'view' ? '链接' : '事件'}</td>
                            <td>{$item->menu_value}</td>
                            {else /}
                            <td colspan="3"><strong>{$item->menu_name}</strong></td>
                            {/if}
                            <td>
                                <div class="btn-group btn-sm">
                                    <a href="{:aurl('wechatmenu', ['menu_id' => $item->id])}" class="btn btn-warning">编辑</a>
                                    <a onclick="if (confirm('确定删除？')) { location.href = '{:aurl('wechatmenu/index/delete', ['menu_id' => $item->id])}'; }" class="btn btn-danger">删除</a>
                                </div>
                            </td>
                        </tr>
                        {volist name="$item->children()->order('menu_sort', 'asc')->select()" id="tmp"}
                        <tr style="background-color: #fbfbfb;">
                            <td>{$tmp->menu_sort}</td>
                            <td><span style="margin-left: 10px;">┠─ {$tmp->menu_name}</span></td>
                            <td>{$tmp->menu_type == 'view' ? '链接' : '事件'}</td>
                            <td>{$tmp->menu_value}</td>
                            <td>
                                <div class="btn-group btn-sm">
                                    <a href="{:aurl('wechatmenu', ['menu_id' => $tmp->id])}" class="btn btn-warning">编辑</a>
                                    <a onclick="if (confirm('确定删除？')) { location.href = '{:aurl('wechatmenu/index/delete', ['menu_id' => $tmp->id])}'; }" class="btn btn-danger">删除</a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">菜单</div>
                <div class="panel-body">
                    <form action="{:aurl('wechatmenu/index/create')}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">父菜单</label>
                            <div class="col-sm-10">
                                <select name="fid" class="form-control">
                                    <option value="0">无</option>
                                    {volist name="menus" id="item"}
                                    <option value="{$item->id}">{$item->menu_name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">排序</label>
                            <div class="col-sm-10">
                                <input type="number" name="menu_sort" value="1" class="form-control">
                            </div>
                            <div class="col-sm-10 col-sm-offset-2">
                                <span class="help-block">升序</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">菜单名</label>
                            <div class="col-sm-10">
                                <input type="text" name="menu_name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">类型</label>
                            <div class="col-sm-10">
                                <input type="radio" name="menu_type" value="view" checked> 网页
                                <input type="radio" name="menu_type" value="click"> 事件
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">值</label>
                            <div class="col-sm-10">
                                <input type="text" name="menu_value" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary add-menu">添加菜单</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {if condition="!is_null($menu)"}
            <div class="panel panel-warning">
                <div class="panel-heading">编辑菜单</div>
                <div class="panel-body">
                    <form action="{:aurl('wechatmenu/index/update', ['menu_id' => $menu->id])}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">父菜单</label>
                            <div class="col-sm-10">
                                <select name="fid" class="form-control">
                                    <option value="0">无</option>
                                    {volist name="menus" id="item"}
                                    {if condition="$item->id neq $menu->id"}
                                    <option value="{$item->id}" {$menu->fid == $item->id ? 'selected' : ''}>{$item->menu_name}</option>
                                    {/if}
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">排序</label>
                            <div class="col-sm-10">
                                <input type="number" name="menu_sort" value="{$menu->menu_sort}" class="form-control">
                            </div>
                            <div class="col-sm-10 col-sm-offset-2">
                                <span class="help-block">升序</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">菜单名</label>
                            <div class="col-sm-10">
                                <input type="text" name="menu_name" value="{$menu->menu_name}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">类型</label>
                            <div class="col-sm-10">
                                <input type="radio" name="menu_type" value="view" {$menu->menu_type == 'view' ? 'checked' : ''}> 网页
                                <input type="radio" name="menu_type" value="click" {$menu->menu_type == 'click' ? 'checked' : ''}> 事件
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">值</label>
                            <div class="col-sm-10">
                                <input type="text" name="menu_value" value="{$menu->menu_value}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary add-menu">编辑菜单</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {/if}

        </div>

    </div>
</div>

{include file="./common/footer"}

{/block}

{block name="footer"}
<script>
    require(["icheck", 'layer'], function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal-green',
            radioClass: 'iradio_minimal-green',
            increaseArea: '20%'
        });

        $('.sync-menu').click(function () {
            layer.load(1, {shade: [0.5,'#fff']});
            $.post("{:aurl('wechatmenu/index/sync')}", function (data) {
                if (typeof (data.success) != 'undefined') {
                    layer.msg(data.success);
                } else {
                    layer.msg(data.error);
                }
                setTimeout(function () {
                    layer.closeAll();
                }, 1000);
            }, 'json');
        });
    });
</script>
{/block}